* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif, Helvetica;
  background-color: #e7e5e4
}

header {
  color: #ffffff;
  padding: 30px;
  background-color: #477bff;
  text-align: center;
  font-size: 2rem;
}

.content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  margin: 30px;
}

div [data-project] {
  color: #477bff;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 3px 4px 3px #bebebe;
  border-radius: 7px;
}

.add-item #add-button {
  font-size: 3rem;
  margin: 20px 0 0 20px;
  padding: 10px 20px;
  background-color: #477bff;
  color: #ffffff;
  border: none;
}